@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1> home'da deneme view'i cagrildi</h1>

<!--http://localhost:5095/home/deneme-->

<h2> @DateTime.Now.ToShortDateString() </h2>
<h2> @DateTime.Now.ToString() </h2>

@{
    var tarih = DateTime.Now.ToShortDateString();
    var ders = "Web Progranlama";
    //Layout = null;
}

<hr />

<h2> tarih: @tarih </h2>
<h2> ders: @ders </h2>

<hr />
<br />

<table class="table table-striped bg-dark">
    <tr style="color: green">
        <td> <b>  Gün </b> </td>
        <td> <b> Saat </b> </td>
        <td> <b> Dakika </b> </td>
    </tr>
    <tr style="color: green" >
        <td> @DateTime.Now.Day </td>
        <td> @DateTime.Now.Hour </td>
        <td> @DateTime.Now.Minute </td>
    </tr>
</table> 

<br />

@{
    var meyve = "Domates";
    @:En Sevdigim meyve <!--HTML--> <b> @meyve </b><!--C# asp-->
} 
<br />
<br />
<br />

<h2 style="font-family:Verdana; color: red">RAZOR <b>IF</b> ORNEGI</h2>
<hr />
@if(DateTime.IsLeapYear(DateTime.Now.Year)){
    //artik yil-> isLeapYear
    //ic kısım asp.net
    @:Artik Yil
} else {
    @:Artik Yil <b>Degil!<b/>
}
<br />
<br />
<br />
<br />

    <h2 style="font-family:Verdana; color: red">RAZOR <b>FOR</b> ORNEGI</h2>
<hr />

@for(var i = 1; i < 11; i++){
    @i <br> <!--html e dondu direkt-->
}
    <br />
    <br />
    <br />
    <br />

<h2 style="font-family:Verdana; color: red">RAZOR <b>FOREACH</b> ORNEGI</h2>
<hr />
@{
    string[] ogrenci = { "Huseyin", "Mehmet", "Seda", "Tea" };
    string bulunacak = "Seda";
    int sira = Array.IndexOf(ogrenci, bulunacak) + 1;
    int sayi = ogrenci.Length;
}
<h3> @bulunacak, @sayi kisi arasinda @sira. siradadir </h3>
<br />
    <h3> <i>Sıralama;</i>  </h3>
@foreach (var ogr in ogrenci)
{
    <h4> @ogr </h4>
}

@{
    int gun = Convert.ToInt32(DateTime.Now.DayOfWeek);
    string gunadi = ""; 
    switch(gun) {
        case 1:
            gunadi = "Pazartesi";
            break;
        case 2:
            gunadi = "Sali";
            break;
        case 3:
            gunadi = "Carsamba";
            break;
        case 4:
            gunadi = "Persembe";
            break;
        case 5:
            gunadi = "Cuma";
            break;
        default:
            gunadi = "Tatilgunu";
            break;
    }

}